---
layout: page
---
<div class="post">
  <article>
	{% assign left_photo = true %}
	{% for status in page.display_status %}
		<a id="{{ status }}" href=".#{{ status }}">
			<h1 class="status">{{ status }}</h1>
		</a>
		{% assign status_people = site.people | where: "status", status %}
		<!-- Display categorized projects -->
		{% for category in page.display_categories %}
			<a id="{{ category }}" href=".#{{ category }}">
				<h1 class="category">{{ category }}</h1>
			</a>
			{% assign categorized_people = status_people | where: "category", category %}
			<!-- Generate cards for each person -->
			{% for profile in categorized_people %}
				{% if profile.name == "Template" %}
					{% continue %}
				{% endif %}
				<hr>
				<div class="profile float-{% if left_photo %}left{% else %}right{% endif %}">
					{% if left_photo %}
						{% assign left_photo = nil %}
					{% else %}
						{% assign left_photo = true %}
					{% endif %}
					{% if profile.image %}
						{% assign profile_image_path = profile.image | prepend: 'assets/profiles/' %}
						{% if profile.image_circular %}
							{% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
						{% else %}
							{% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
						{% endif %}
						{% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
						{% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
					{% endif %}
					<!-- Assorted Links -->
					{% if profile.linkedin %}
						<a href="https://www.linkedin.com/in/{{ profile.linkedin }}" title="LinkedIn"><i class="fa-brands fa-linkedin fa-lg"></i></a>
					{% endif %}
					{% if profile.github %}
						<a href="https://github.com/{{ profile.github }}" title="GitHub"><i class="fa-brands fa-github fa-lg"></i></a>
					{% endif %}
					{% if profile.research_gate %}
						<a href="https://www.researchgate.net/profile/{{profile.research_gate}}/" title="ResearchGate"><i class="ai ai-researchgate ai-lg"></i></a>
					{% endif %}
					{% if profile.email %}
						<a href="mailto:{{ profile.email | encode_email }}" title="email"><i class="fa-solid fa-envelope fa-lg"></i></a>
					{% endif %}
				</div>
				<div class="clearfix">
					<a id="{{ profile.name | remove: '"' }}" href=".#{{ profile.name | remove: '"' }}">
						<h2 class="name">{{ profile.name }}</h2>
					</a>
					{% if profile.project %}
						<div class="project-link">
						<a href=/projects/{{ profile.project }}>Project: {{ profile.project | replace: "_", " " }}</a>
						</div>
					{% endif %}
					{{ profile.content | markdownify }}
				</div>
			{% endfor %}
    {% endfor %}
	{% endfor %}
  </article>
</div>
